
{% extends 'base.html' %}

{% block body %}

{% endblock %}





{% load staticfiles %}



{% block body_block %}

    <div class="four wide column centered inverted">


    <form class="ui form" id="category_form"  method= "post" {% if id %} action="."  {% else %} action="{% url 'loja:Cadastar_Carro' %}"{%endif%}>
        {% csrf_token %}

            <section class="eight wide column"></section>

        <h2>Cadastrar Veículo</h2>

                       <h5>Marca</h5>
                        {{ form.marca }}
                        {{form.marca.errors}}

                         <h5>Modelo</h5>
                        {{ form.modelo }}
                        {{form.modelo.errors}}

                          <h5>Cor</h5>
                        {{ form.cor }}
                        {{form.cor.errors}}

                         <h5>Ano</h5>
                        {{ form.ano}}
                        {{form.ano.errors}}

                        <h5>Preco</h5>
                        {{ form.preco}}
                        {{form.preco.errors}}

                        <h5>Descricao</h5>
                        {{ form.descricao}}
                        {{form.descricao.errors}}


                        <h5>Imagem</h5>
                        {{ form.picture}}
                        {{form.picture.errors}}

                        <br>
                        <input name="id" type="hidden" value="{{id_post}}"/>
                        {% if field.errors %}
                        <br>
                            <div id="error" class="ui pointing label top red basic erro">
                                {{ field.errors }}
                            </div>
                        {% endif %}

<br>
 {%if id%}

        <div class="sixteen wide column">
            <button type="submit" class="ui button" name="submit">Salvar</button>
        </div>
{%else%}
           <div class="sixteen wide column">
               <a class="ui red button"  href="/loja/search">Cancelar</a>
               <button type="submit" class="ui green button" name="submit">Salvar</button>
        </div>
        {%endif%}






    </form>
    </div>


{% endblock %}


