{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Cadastro {% endblock %}

{% block body_block %}
    <div class="four wide column centered inverted">
        <form class="ui form" id="category_form" method="post" action="{% url 'loja:cadastro' %}">
            <h2>Cadastre-se</h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="eight wide column">
                {{ form.first_name.errors }}
                <h5>{{ form.first_name.help_text }}</h5>
                {{ form.first_name }}<br/>
            </div>

            <div class="field">
                <label for="email">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="four wide column">
                {{ form.cpf.errors }}
                <h5>{{ form.cpf.help_text }}</h5>
                {{ form.cpf }}<br/>
            </div>

            <div class="ten wide column">
                {{ form.username.errors }}
                <h5>{{ form.username.help_text }}</h5>
                {{ form.username }}<br/>
            </div>
            <div class="ten wide column">
                {{ form.password.errors }}
                <h5>{{ form.password.help_text }}</h5>
                {{ form.password }}<br/>
            </div>
         <div class="ten wide row">
             <br>

            </div>
            <div class="sixteen wide column">
                <a class="ui red button" href="/loja/search">Cancelar</a>
                <button type="submit" class="ui green button" name="submit">Cadastrar</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}