{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}


    <div class="three wide column centered inverted">

    <form class="ui form" id="login_form" method="post" action="{% url 'loja:login' %}">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="field">
                <label>Nome</label>
                <input type="text" name="username" value="" size="50" /><br />
            </div>
            <div class="field">
                <label>Senha</label>
                <input type="password" name="password" value="" size="50" /><br />
            </div>
        <a class="ui red button" href="/loja/search">Cancelar</a>
            <input type="submit" class="ui green button" value="  Entrar  " /><br/><br/><br/>
        </form></div>
{% endblock %}