{% load staticfiles %}

    <div class="left menu">
        <a class="item" href="{% url 'loja:Search1' %}">Home</a>
    </div>
     <div class="right menu">
                    {% if user.is_authenticated %}
                        <a class="item" href="{% url 'loja:Cadastar_Carro' %}">Cadastrar Carro </a>
                        <a class="item" href="{% url 'loja:logout' %}">Logout</a>

                    {% else %}
                        <a class="item" href="{% url 'loja:cadastro' %}">Cadastre-se</a>
                        <a class="item" href="{% url 'loja:login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>