{% extends 'base.html' %}

{% block body %}
    {%  include 'Menu_Index.html' %}
{% endblock %}



{% load staticfiles %}



{% block body_block %}


    <div class="six wide column centered inverted">
    <br>

    <form class="ui form" method="POST" action="{% url 'loja:Search1' %}" class='ui fluid category search'>
        {% csrf_token %}
        <div class="field">
            <label>Tipo do Carro</label>
            <div class="two fields">
                <div class="field">
                    <input name="name"  required=""   class="search fluid" placeholder="Marca"/>
                </div>
                <div class="field">
                    <input name="modelo" required="" class="search fluid" placeholder="Modelo"/>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Especificações</label>
            <div class="two fields">
                <div class="field">
                    <input name="preco" required="" class="search fluid" placeholder="Preço máximo"/>
                </div>
                <div class="field">
                    <input name="ano"  required="" class="search fluid" placeholder="Ano mínimo"/>
                </div>

                <button type="ui submit button" class="ui button"><i class="search icon"></i></button>
            </div>
        </div>
    </form>

    <br>


        {%for c in  var_carro%}
                <div class="ui card">
                    <div class="image">
                        <img class="img-fluid d-block" src="/media/{{ c.picture }}">
                    </div>
                    <div class="content">
                        <a class="header">Marca: {{ c.marca }}</a>
                        <div class="meta">
                            <span class="date">{{ c.ano }}</span>
                        </div>

                        <div class="description">

                            <a>
                                <i class="">R$ </i>
                                {{ c.preco  }}
                            </a>
                        </div>



                    </div>
                    <div class="extra content">
                        <a>
                            <a  href="/loja/ver_carro/{{ c.id }}/" >+ Detalhes</a>
                        </a>
                    </div>
                </div>
        {%endfor%}










    <br>







    <script>

        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }

    </script>



{% endblock %}
