{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
    <div class="esapco"></div>
{% endblock %}







{% load staticfiles %}
{% block body_block %}






    <div class="four wide column centered">
    <div class="esapco"></div><br>

            <div class="ui card">
          <div class="image">
             <img class="img-fluid d-block" src="/media/{{ post.picture }}">
          </div>
          <div class="content">
            <a class="header">Marca: {{ post.marca }}</a>
            <div class="meta">
              <span class="date">{{ post.ano }}</span>
            </div>

              <div class="description">
              Modelo: {{ post.modelo }}
            </div>


            <div class="description">
              Descrição: {{ post.descricao }}
            </div>

              <div class="description">
              Cor: {{ post.cor }}
            </div>


          </div>
          <div class="extra content">
            <a>
              <i class="">R$ </i>
              {{ post.preco  }}
            </a>
          </div>
        </div>

    <br>



{% endblock %}

<script>



</script>


